/* ==========================================================================
Mixins
========================================================================== */

/*
* @font-face mixin
* Bulletproof font-face via Font Squirrel
* @include fontface('family', 'assets/fonts/', 'myfontname');
*/

@mixin fontface($font-family, $font-url, $font-name, $font-weight: 'normal', $font-style: 'normal') {
  @font-face {
	font: {
	  family: $font-family;
	  style: $font-style;
	  weight: $font-weight;
	}
	src: url($font-url + '/' + $font-name + '.eot');
	src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
	url($font-url + '/' + $font-name + '.woff') format('woff'),
	url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
	url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
  }
}

@mixin font-size($sizeValue : 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}


@mixin button-stewart($color) {
	@include background-image(
	 	linear-gradient(
			mix($color, palette(mono, white), 83%),
			mix($color, palette(mono, black), 83%)
	  	)
	);
}


@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palettes, $palette), $tone);
}



@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

//--------------------------------
// Photoshop Drop Shadow
//--------------------------------
@mixin photoshop-drop-shadow ($angle: 0, $distance: 0, $spread: 0, $size: 0, $color: #000, $inner: false) {
  $angle: (180 - $angle) * pi() / 180; // convert to radians
  $h-shadow: round(cos($angle) * $distance);
  $v-shadow: round(sin($angle) * $distance);
  $css-spread: $size * $spread/100;
  $blur: ($size - $css-spread);
  $inset: if($inner != false, 'inset', '');

  @include box-shadow($h-shadow $v-shadow $blur $css-spread $color unquote($inset));
}

//--------------------------------
// Photoshop Inner Shadow
//--------------------------------
@mixin photoshop-inner-shadow ($angle: 0, $distance: 0, $spread: 0, $size: 0, $color: #000) {
  @include photoshop-drop-shadow ($angle, $distance, $spread, $size, $color, true);
}

//--------------------------------
// Photoshop Text Shadow
//--------------------------------
@mixin photoshop-text-shadow ($angle: 0, $distance: 0, $spread: 0, $size: 0, $color: #000) {
  // NOTE: $spread has no effect for text shadows;
  $angle: (180 - $angle) * pi() / 180;
  $h-shadow: round(cos($angle) * $distance);
  $v-shadow: round(sin($angle) * $distance);
  $css-spread: $size * $spread/100;
  $blur: ($size - $css-spread);

  @include text-shadow($h-shadow + px $v-shadow + px $blur + px $color);
}

//--------------------------------
// Scale icons
//--------------------------------
@mixin scale-icon($scale) {
  $original_size: 50;
  $new_size: ($scale / $original_size );
  -webkit-transform: scale($new_size);/* Saf3.1+, Chrome */ /* FF3.5+ */ /* IE9 */ /* Opera 10.5+ */
  transform:scale($new_size);
  margin: ((-$original_size + $scale) / 2) + px;
}
